<img width="1142" height="2268" alt="image" src="https://github.com/user-attachments/assets/9a55b84d-94a4-4e49-ad3b-91f249134e7c" />
